<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/fullheight.js') }}" type="text/javascript"></script>
</head>
<body>

    {% include 'bar.html' %}

      
    <div id="query" class="container">

      <form action="{{ url_for('root') }}" method="post" class="row d-flex g-3 justify-content-center">
        <div class="col">
          {{ form.title(class_="form-control",placeholder="Title") }}
        </div>
        <div class="col"> 
          {{ form.year(class_="form-control",placeholder="Year") }}
        </div>
        <div class="col">
          {{ form.artist(class_="form-control",placeholder="Artist") }}
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>

      <div class="row d-flex justify-content-center py-5">
        {% if results %}
          {% for result in results %}
          <a class="nav-link row">{{result.artist}} {{result.title}}, {{result.year}}</a>
          {% endfor %}
        {% else %}
          <a class="nav-link col-auto">No results found.</a>
        {% endif %}
      </div>

    </div>

</body>
</html>

